@model IEnumerable<Encuestas.encuestas>

@{
    ViewBag.Title = "Encuestas";
}

<h2>Encuestas</h2>

<p>
    @Html.ActionLink("Crear nueva Encuesta", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Nombre
        </th>
        <th>
            Descripcion
        </th>
        <th>
            Fecha
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nombreEncuesta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fecha)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.idEncuesta }) |
                @Html.ActionLink("Lista de Preguntas", "Index", "DetalleEncuestas", new { id = item.idEncuesta }, null) |
                @Html.ActionLink("Eliminar", "Delete", new { id = item.idEncuesta }) |
                @Html.ActionLink("Generar Encuesta", "encuestaGenerada", "DetalleEncuestas", new { id = item.idEncuesta }, new { @id = "linkEncuesta" })|
                @Html.ActionLink("Verificar respuestas", "respuestas", "Respuestas", new { id = item.idEncuesta }, new { @id = "linkEncuesta" })|
                <button onclick="copiarEnlace()">Enlace de Encuesta</button>
            </td>
        </tr>
    }
    <script>
        function copiarEnlace() {
            var enlace = document.getElementById('linkEncuesta').href;
            navigator.clipboard.writeText(enlace).then(function () {
                alert("Enlace copiado al portapapeles con éxito!");
            }, function (err) {
                alert('Error al copiar: ', err);
            });
        }
    </script>
</table>
